<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emporium Sperandio</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>

<header>
    <img class="logo" src="../images/logo.png" alt="Logo Emporium Sperandio">
    <h1>Emporium Sperandio</h1>

    <nav class="navbar">
        <ul class="navbarList">
            <li><a class="enlace" href="../index.html">inicio</a></li>
            <li><a class="enlace" href="./productos.html">productos</a></li>
            <li><a class="enlace" href="./presupuesto.html">presupuesto</a></li>
            <li><a class="enlace active" href="#">contacto</a></li>
        </ul>
    </nav>
</header>

<main id="main_container">

    <!-- CONTACTO -->
    <section id="contacts_container">
        <h2>Contáctanos</h2>

        <p>
            ¿Tienes alguna pregunta o necesitas ayuda para elegir tu producto ideal?
            ¡Estamos aquí para ti! Contáctanos y te ayudaremos a encontrar lo que necesitas.
            Tu satisfacción y bienestar son nuestra prioridad.
        </p>

        <div id="cards_container">
            <h3>Formas de contactarnos:</h3>

            <a href="tel:+34604082669" class="contact-card phone">
                <div class="card-icon">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="card-infos">
                    <p>Teléfono</p>
                    <span>(34) 604 082 669</span>
                </div>
            </a>

            <a href="https://www.google.com/maps?q=Calle%20Medico%20Amenedo%20Casabella%2006%20Arteixo%20A%20Coru%c3%b1a&amp;output=embed" class="contact-card location">
                <div class="card-icon">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="card-infos">
                    <p>Dirección</p>
                    <span>
                        Calle Médico Amenedo Casabella, 6<br>
                        Arteixo – La Coruña
                    </span>
                </div>
            </a>

            <a href="mailto:3resusi@gmail.com" class="contact-card email">
                <div class="card-icon">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="card-infos">
                    <p>Email</p>
                    <span>3resusi@gmail.com</span>
                </div>
            </a>

            <a href="https://api.whatsapp.com/send?phone=34604082669" target="_blank" class="contact-card whatsapp">
                <div class="card-icon">
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
                <div class="card-infos">
                    <p>WhatsApp</p>
                    <span>(34) 604 082 669</span>
                </div>
            </a>
        </div>
    </section>

    <!-- MAPA -->
    <section id="map-section">
        <h2>Dónde estamos</h2>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.415662778105!2d-8.51060422436213!3d43.30555737484678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2e886b6c5ba2e1%3A0xed1400f6823f8eda!2sR%C3%BAa%20M%C3%A9dico%20Amenedo%20Casabella%2C%206%2C%2015142%20Arteixo%2C%20A%20Coru%C3%B1a!5e0!3m2!1spt-BR!2ses!4v1767461910303!5m2!1spt-BR!2ses" width="600" height="450" ></iframe>
    </section>
</main>
<!-- footer -->
<footer>
       <div class="address">
        <strong>Emporium Sperandio</strong><br>
        Calle Medico Amenedo Casabella,06 — Arteixo, A Coruña, España<br>
        Aviso legal y política de privacidad.
      </div>
        <div id="social_media_icons">
                <a href="htts://twitter.com/" class="icon-link twitter" target="_blank">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="htts://facebook.com/" class="icon-link facebook" target="_blank">
                     <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="htts:instagram.com/" class="icon-link instagram"  target="_blank">
                      <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="htts:github.com/" class="icon-link github"  target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
</footer>

</body>
</html>
